/* Estilos de la pagina*/

* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "PT Sans";
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: aqua;
}

ul li {
  color: rgb(186, 168, 34);
}

#principal {
  color: rgb(40, 189, 87);
  font-family: PT Sans;
  font-size: 25px;
  background-image: url("../img/pexels-fwstudio-33348-129731.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#principal p {
  color: rgb(0, 0, 0);
  font-family: PT Sans;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
