/* Estilos de la pagina*/


* {
    margin: 0% ; padding: 0%; box-sizing: border-box; font-family: '
  }

html{
    font-size: 62.5%;
}
  
h1 {
  color: aqua;
}

ul li {
  color: rgb(186, 168, 34);
}

#principal {
  color: rgb(40, 189, 87);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  background-image: url("../img/pexels-fwstudio-33348-129731.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#principal p {
  color: rgb(0, 0, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5rem;
}
